<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
</head>

<body>
    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Entreprise</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Firstname }}</td>
                <td>{{ .Lastname }}</td>
                <td>{{ .Mail }}</td>
                <td>{{ if .Company }} Oui {{ else }} Non {{ end }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>

</html>